<%=  provide(:title,"words") %>
<div>
    <h1 class=""><%= yield(:title) %></h1>

    <%= link_to "NEW WORDS", new_admin_category_word_path %>
</div>
    <%= will_paginate @word_answers %>

    <ul class="users">
        <%= render @word_answers %>
    </ul>

    <%= will_paginate @word_answers %>