<li>
    <h2><%= link_to category.title, admin_category_path(category) %></h2>
    <p><%= category.description %></p>
    <%= link_to "Show Word",admin_category_words_path(category) %>
    <%= link_to "Add Word",new_admin_category_word_path(category) %>
    <%= link_to "edit", edit_admin_category_path(category) %>
    <%= link_to "delete", admin_category_path(category),:method => :delete %>
</li>