<%= form_for @word, url:admin_category_word_word_answers_path(@category, @word), method: :post do |f|  %>
	<%= f.fields_for :word_answers do |a| %>
    <div class= "form-group">
        <%#= f.label :content %>

        <%= a.label :content %>
        <%= a.check_box :content, {} %>
        <%= a.label :content %>
        <%= a.text_field :content,  class: "form-control" %>

    </div>
    <% end %>

        <%= f.submit "Create new answer", class: "btn btn-primary form-control" %>
<% end %>