<header>
    <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container">
                
            <div class="navbar-header">
                    <%= link_to "E-larning", root_path, id:"logo" %>
            </div>

            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">

                    <% if logged_in? %>
                        <% if current_user.admin %>
                            <li class="active"><%= link_to "admin", admin_categories_path %></li>
                        <% end %>
                    <li class="active"><%= link_to "Category", categories_path %></li>
                    <li class="active"><%= link_to "User list", users_path %></li>
                    <li class="active"><%= link_to "Setting", edit_user_path(current_user) %></li>
                    <li class="active"><%= link_to "logout", logout_path,method: :delete %></li>

                    <% else %>
                    <li class="active"><%= link_to "SignUP", signup_path %></li>
                    <li class="active"><%= link_to "logIn", login_path %></li>
                    <% end %>
                </ul>
            </div>
    </div>
    </nav>
</header>